@model SupportCallListViewModel

    <div class="panel-body">
    <h2>רשימת קריאות פתוחות</h2>
    <table class="table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th class="tblHeader">שם לקוח</th>
                <th class="tblHeader">אימייל </th>
                <th class="tblHeader">טלפון</th>
                <th class="tblHeader">מקור תקלה</th>
                <th class="tblHeader">תיאור תקלה</th>
                <th class="tblHeader">תאריך פתיחת תקלה</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model.supportCalls)
            {
                @Html.Partial("SupportCallRow", c)
            }
        </tbody>
    </table>
</div>
    <div page-model="@Model.PagingInfo" page-action="ListSupportCalls" page-classes-enabled="true"
page-class="btn" page-class-normal="btn-default"
page-class-selected="btn-primary" class="btn-group pull-right pagebtns"></div>
