@{
    Layout = null;
}
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/styles.css" />
    </head>
    <body>
        <div class="well-lg">
           @ViewBag.Greeting משתמש
            </div>
        <div class="text-center">
            <p>רשימת קריאות לתמיכה:</p>
            <a class="btn btn-primary" asp-action="SupportForm">פתיחת קריאת שירות</a>
            <img style="align-content:center" src="~/images/tech-support.png" alt="supportIcon" />
        </div>
       
            
     
    </body>
</html>

